@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Programming club</h1>
   
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Technologies</h2>
        <p>
            MVC project using technologies:
        </p>
        <ul>
            <li>C# language</li>
            <li>Linq to SQL</li>
            <li>MSSQL Database</li>
        </ul>


    </div>
    <div class="col-md-4">
        <h2>Tools</h2>
        <ul>
            <li>Visual Studio Community</li>
            <li>SQL Management Studio</li>
            <li>Notepad++</li>
        </ul>

    </div>
    <div class="col-md-4">
        <h2>Source Control</h2>
        <p>Github</p>
    </div>
</div>